website/var/*
website/var/areas/*
website/var/assets/*
website/var/backup/*
website/var/cache/*
website/var/classes/*
website/var/deployment/packages/*
website/var/email/*
website/var/log/*
website/var/plugins/*
website/var/recyclebin/*
website/var/search/*
website/var/system/*
website/var/config/system.xml
website/var/config/extensions.xml
website/var/tmp/*
website/var/versions/*
website/var/webdav/*
website/static/fbshare/*
website/static/config/*
website/static/inv-fbshare/*
.htaccess
!website/var/areas/.dummy
!website/var/assets/.dummy
!website/var/backup/.dummy
!website/var/cache/.dummy
!website/var/classes/.dummy
!website/var/deployment/packages/.dummy
!website/var/email/.dummy
!website/var/log/.dummy
!website/var/plugins/.dummy
!website/var/recyclebin/.dummy
!website/var/search/.dummy
!website/var/versions/.dummy
!website/var/system/.dummy
!website/var/tmp/.dummy
!website/var/webdav/.dummy
robots.txt
